{% load static %}
{% load markdown_extras %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resources List</title>
    <meta
      name="description"
      content="An example resource sharing app for Django and JavaScript."
    />
    <meta name="author" content="Shawn Girard" />
    <!-- app CSS -->
    <link rel="stylesheet" href="{% static 'resources/css/resources.css' %}" />
    <!-- app JS -->
    <script src="{% static 'resources/js/resources.js' %}" defer></script>
  </head>
  <body id="top" class="page">

    <main class="resources-container">

        <nav class="category-container">
            <h3>Resource Categories</h3>
            <ul>
                <li {% if not category %}class="selected"{% endif %}>
                    <a href="{% url 'resources:resources' %}">All</a>
                </li>
                {% for c in categories %}
                <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.category }}</a>
                </li>
                {% endfor %}
            </ul>            
        </nav>

        <div class="resource-container">
          
          {% if category %}
          <!-- category filter passed | list that category -->
            <header class="resource-header">
                <h1>{{ category.category }} Resources</h1>
            </header>
            <article class="resource-item">
                {% if resources %} {% for resource in resources %}
                  <div class="resource">
                    <a href="{{ resource.location }}" target="_blank">
                      {{ resource.name }}
                    </a>
                  </div>
                  <div class="description">{{ resource.description|markdown|linebreaks }}</div>
                {% endfor %} {% else %}
                <div class="no-resources">There are currently no resources.</div>
                {% endif %}
            </article>
            <!-- no category passed | list by category -->
            {% else %}
            <header class="resource-header">
              <h1>Useful Resources</h1>
            </header>
              {% if resource_list %}
                {% for key, value in resource_list.items %}
                  <!-- get the category and list it-->
                  <div class="resource-category-header">
                    <h2>{{ key }} Resources:</h2>
                  </div>
                  {% for r in value %}
                  <article class="resource-item">
                      <div class="resource">
                        <a href="{{ r.location }}" target="_blank">
                          {{ r.name }}
                        </a>
                      </div>
                      <div class="description">{{ r.description|markdown|linebreaks }}</div>
                  </article>
                  {% endfor %}
                {% endfor %}
              {% else %}
                <div class="no-resources">
                  There are currently no resources.
                </div>
              {% endif %}





            {% endif %}            

        </div>

    </main>

  </body>

</html>
